<div class="container-fluid bg-dark pb-5 text-light p-3">
    <h3 class="text-center bg-dark text-light pb-3">Ejercicio 1 - PT3</h3>
    <ul class="list-group text-light text-center">
        <li class="bg-dark m-1 text-light border border-light list-group-item" *ngFor="let personaje of Personajes">Nombre: {{ personaje.nombre }}, Pesonaje: {{ personaje.poder }}</li>
    </ul>
    <form #formulario="ngForm" (ngSubmit)="addPersonaje(formulario)">
        <h6 class="mt-3 border-bottom text-center">Mini-Formulario</h6>
        <div class="my-3 row justify-content-center">
            <!-- NOMBRE -->
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre de tu personaje" ngModel required>
                </div>
                <!-- PODER -->
                <div class="col-sm-5">
                    <input type="number" min="0" max="500" class="form-control" id="poder" placeholder="Introduce el poder de tu personaje" ngModel required>
                </div>
                <!-- SUBMIT -->
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Añadir personaje</button>
                </div>
            </div>
            
    </form>
    <hr class="py-3" style="border-top: 1px solid var(--bs-primary); background-color: #212529; margin: 0; opacity: 1;">
</div>