<h3 class="text-center bg-dark text-light pb-3">Ejercicio 2</h3>
<div class="container-fluid bg-dark pb-5 text-light text-center p-3">
    <ul class="list-group">
        <li (click) = "seleccionarHeroe(heroe)" class="bg-dark m-1 text-light border border-light list-group-item" *ngFor="let heroe of heroes">{{ heroe }}</li>
    </ul>
    <div class="row">
        <div class="col">
            <p *ngIf="seleccionado != ''; else templateSeleccionado">Heroe elegido: {{ seleccionado }}</p>
            <ng-template #templateSeleccionado>
                <p>No se ha seleccionado ningún héroe.</p>
            </ng-template>
            <button class="btn btn-primary" (click) = "porDefecto()" >Por Defecto</button>
        </div>
        <div class="col">
            <p *ngIf="eliminado != ''; else templateEliminado">Se ha eliminado: {{eliminado}}</p>
            <ng-template #templateEliminado>
                <p>No has eliminado ningun heroe todavia</p>
            </ng-template>
            <button class="btn btn-primary" (click) = "borrarHeroe()" >Borrar Heroe</button>
        </div>
    </div>
</div>
